bslib
dash==2.7.0
dash-bootstrap-components==1.2.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-iconify==0.1.2
dash-mantine-components==0.12.0
dash-table==5.0.0
dash-tools==1.12.0
geopy==2.3.0
gunicorn==23.0.0
hplib==1.9
numpy-financial==1.0.0
openpyxl==3.1.5
pandas
plotly==5.24.1
plotly-express==0.4.1
pvlib==0.9.4
Werkzeug==3.1.3
